django
djangorestframework
djangorestframework-simplejwt
drf-spectacular
redis
django-redis
celery
daphne
pillow
python-dotenv


langchain-text-splitters
langchain
langchain-core
langchain-pinecone
langchain-pinecone 
langchain-openai
langchain-cohere
pydantic
